<footer>
    <div role="contentinfo">
        <span class="creativecommons">
            <a rel="license"
               href="https://creativecommons.org/licenses/by-sa/4.0/">
                <img alt="Creative Commons License"
                     style="border-width:0; height:15px; width:80px;" 
                     src="https://mirrors.creativecommons.org/presskit/buttons/80x15/svg/by-sa.svg"/></a>
            <span xmlns:dct="http://purl.org/dc/terms/"
                  href="http://purl.org/dc/dcmitype/Text"
                  property="dct:title"
                  rel="dct:type">
                The {{ project }} documentation
            </span>
            is licensed under a
            <a rel="license"
               href="https://creativecommons.org/licenses/by-sa/4.0/">
                Creative Commons Attribution-ShareAlike 4.0 International
            </a>.
        </span>
        <span class="lastupdated">
            Last updated on {{ last_updated }}.
        </span>
    </div>
</footer>
