{% extends "!page.html" %}

{% block body %}

{{ super() }}

{% if pagename == 'contents' %}

<style>
    .rst-content img {
        height: 45px;
        width: 45px;
        vertical-align: middle;
    }
    .logo{
    pointer-events: none;
    cursor: default;

}

</style>

<h2>Contents</h2>

<table class="contentstable" width="100%" align="center">
    <tr>
        <td width="50%">
            <a href="{{ pathto('gettingStarted') }}">

                <img src="{{ '_static/install_icon.svg' }}" alt="">


                <p class="biglink">
                    Getting Started with {{project}} {{version}}?
            </a>
            <br />
            <span class="linkdescr">Installation and Usage Guides</span>
            </p>
        </td>
        <td width="50%">
            <a href="{{ pathto('user-interface') }}">

                <img src="{{ '_static/gui_icon.svg' }}" alt="">

                <p class="biglink">
                    The GUI of {{project}}?
            </a>
            <br />
            <span class="linkdescr">Graphical overview of the System</span>
            </p>
        </td>
    </tr>
    <tr>
        <td width="50%">
            <a href="{{ pathto('structures')}}">

                <img src="{{ '_static/main_structure_icon.svg' }}" alt="">

                <p class="biglink">
                    Main Structures
            </a>
            <br />
            <span class="linkdescr">Concepts of CRA, IR and WM</span>
            </p>
        </td>
        <td width="50%">
            <a href="{{ pathto('tutorialOverview')}}">

                <img src="{{ '_static/tutorial_icon.svg' }}" alt="">

                <p class="biglink">
                    Tutorials
            </a>
            <br />
            <span class="linkdescr">System Extensions and Usage</span>
            </p>
        </td>
    </tr>
    <tr>
        <td width="50%">
            <a href="{{ pathto('architecture')}}">

                <img src="{{ '_static/architecture_icon.svg' }}" alt="">

                <p class="biglink">
                    Architecture Overview
            </a>
            <br />
            <span class="linkdescr">Components, Structures and Processes</span>
            </p>
        </td>

        <td width="50%">
            <a href="{{ pathto('api') }}">

                <img src="{{ '_static/api_icon.svg' }}" alt="">

                <p class="biglink">
                    API Documentation
            </a>
            <br />
            <span class="linkdescr">Programming Interface</span>
            </p>
        </td>


    </tr>

</table>
<br />
<br />
<br />


{% endif %}

{% endblock %}

{% block footer %}
<script type="text/javascript">
    $(document).ready(function () {
        $(".toggle > *").hide();
        $(".toggle .header").show();
        $(".toggle .header").click(function () {
            $(this).parent().children().not(".header").toggle(400);
            $(this).parent().children(".header").toggleClass("open");
        })
    });
</script>
{% endblock %}